article p {

    text-align: justify;
    font-family: serif;
    font-size: 20px;
    color: darkslategrey;
    padding: 10px;
    width: fit-content;
    float: left;

}

article {}

body {
    background-color: white;
}



li {
    float: initial;
    width: fit-content;
    margin-left: 50px;
    padding-right: 30px;
}

main {
    max-width: 900px;
    margin: auto;
}

section {
    margin: 10px;
    padding: 20px;
    width: fit-content;
}

.kepek img {
    width: 100%;
    float: left;
    max-width: 350px;
    margin-left: 17px;
    padding: 40px;
    padding-top: 1px;
}

.cim {
    font-size: 23px;
    padding-top: 0.1px;
    margin: auto;
    color: darkolivegreen;
    width: fit-content;
    text-align: center;
}

.szerzo {
    font-size: 18px;
    padding-top: 40px;
    color: slategrey;
    font-family: serif;
}

article a {
    text-decoration: none;
    border: 1px solid;
    margin: 10px;
    margin: auto;
    font-size: 23px;
}

a:hover {
    color: hotpink;
}

article a:visited {
    color: black;
}

article a:active {
    color: green;
}